#brands{
    transform:  scale(1);
}
#effect:hover #brand{
    background: -webkit-linear-gradient(rgb(255, 31, 225), rgb(255, 76, 76), rgb(189, 47, 255));
    background: linear-gradient(rgb(255, 31, 225), rgb(255, 76, 76), rgb(189, 47, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  animation: dot 0.8s ease-in-out infinite alternate;
}

@keyframes dot{
    0%{
        transform: scale(1)
        ;
    }
    50%{
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1);
    }
}

.card{
    transform: scale(1);
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.01);
}